body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #3b2c5d;
}

.TodoList {
  margin: 40px auto;
  padding: 20px;
  max-width: 200px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.TodoWrapper {
  min-height: 600px;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  color: #6037a5;
  text-align: center;
  margin-bottom: 30px;
  animation: slideDown 1s ease-in-out;
}

.TodoForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

.todo-input:focus {
  outline: auto;
  outline-color: #4d347c;
  border-color: #6037a5;
  box-shadow: 0 0 10px rgba(96, 55, 165, 0.2);
}

.todo-input::placeholder {
  user-select: none;
}

.todo-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  background-color: #6037a5;
  color: #fff;
  font-size: 1.1rem;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.todo-btn:hover {
  background-color: #3b2c5d;
}

.todo-btn:disabled {
  background-color: #4d347c;
  opacity: 0.6;
  cursor: not-allowed;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.task {
  flex: 1;
  font-size: 1rem;
  cursor: pointer;
}

.task.completed {
  text-decoration: line-through;
  color: #888;
}

.edit-icon,
.delete-icon {
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #4d347c;
}

.delete-icon:hover {
  color: #e74c3c;
}

.EditTodo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 420px) {
  .TodoList {
    padding: 10px;
    max-width: 150px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .TodoWrapper {
    padding: 10px;
  }

  .todo-input {
    padding: 10px;
    font-size: 0.9rem;
  }

  .todo-btn {
    padding: 10px;
    font-size: 0.9rem;
  }
}